USE [World_layoffs]
GO
/****** Object:  Table [dbo].[layoffs]    Script Date: 28-05-2026 20:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[layoffs](
	[company] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[industry] [nvarchar](50) NULL,
	[total_laid_off] [nvarchar](50) NULL,
	[percentage_laid_off] [nvarchar](50) NULL,
	[date] [nvarchar](50) NOT NULL,
	[stage] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[funds_raised_millions] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[layoffs_staging]    Script Date: 28-05-2026 20:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[layoffs_staging](
	[company] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[industry] [nvarchar](50) NULL,
	[total_laid_off] [nvarchar](50) NULL,
	[percentage_laid_off] [nvarchar](50) NULL,
	[date] [nvarchar](50) NOT NULL,
	[stage] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[funds_raised_millions] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[layoffs_staging2]    Script Date: 28-05-2026 20:34:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[layoffs_staging2](
	[company] [nvarchar](50) NOT NULL,
	[location] [nvarchar](50) NOT NULL,
	[industry] [nvarchar](50) NULL,
	[total_laid_off] [nvarchar](50) NULL,
	[percentage_laid_off] [nvarchar](50) NULL,
	[date] [nvarchar](50) NOT NULL,
	[stage] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[funds_raised_millions] [nvarchar](50) NULL
) ON [PRIMARY]
GO
